<mat-card class="center">
    <mat-card-header>
        <mat-card-title>Edit User</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <input type="hidden" placeholder="User Name" formControlName="id" value={{userId}}>
            </div>
            <div class="form-group">
                <mat-form-field class="half-width">
                    <label>Id</label>
                    <input matInput placeholder="Id" formControlName="id" readonly bold>
                    <mat-error *ngIf="editUserForm.get('id')?.hasError('required')">Password is required</mat-error>
                    <mat-error *ngIf="editUserForm.get('id')?.hasError('minLength')">password min length is 3</mat-error>
                    <mat-error *ngIf="editUserForm.get('id')?.hasError('maxLength')">password max length is 20</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="half-width">
                    <label>First Name</label>
                    <input matInput placeholder="First Name" formControlName="fname" readonly bold>
                    <mat-error *ngIf="editUserForm.get('fname')?.hasError('required')">First Name is required</mat-error>
                    <mat-error *ngIf="editUserForm.get('fname')?.hasError('minLength')">Name min length is 3</mat-error>
                    <mat-error *ngIf="editUserForm.get('fname')?.hasError('maxLength')">Name max length is 20</mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field class="half-width">
                    <label>Last Name</label>
                    <input matInput placeholder="Last Name" formControlName="lname" readonly bold>
                    <mat-error *ngIf="editUserForm.get('lname')?.hasError('required')">Last Name is required</mat-error>
                    <mat-error *ngIf="editUserForm.get('lname')?.hasError('minLength')">Name min length is 3</mat-error>
                    <mat-error *ngIf="editUserForm.get('lname')?.hasError('maxLength')">Name max length is 20</mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field class="half-width">
                    <label>Email</label>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="editUserForm.get('email')?.hasError('required')">email is required</mat-error>
                    <mat-error *ngIf="editUserForm.get('email')?.hasError('minLength')">email min length is 3</mat-error>
                    <mat-error *ngIf="editUserForm.get('email')?.hasError('maxLength')">email max length is 20</mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field class="half-width">
                    <label>Password</label>
                    <input matInput placeholder="password" formControlName="password">
                    <mat-error *ngIf="editUserForm.get('password')?.hasError('required')">Password is required</mat-error>
                    <mat-error *ngIf="editUserForm.get('password')?.hasError('minLength')">Password min length is 3</mat-error>
                    <mat-error *ngIf="editUserForm.get('password')?.hasError('maxLength')">Password max length is 20</mat-error>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" type="submit" [disabled]="!editUserForm.valid">Edit User</button>
        </form>

    </mat-card-content>
</mat-card>
